

$navbar-dark-hover-color:           orange;
$navbar-light-hover-color:          orange;
$navbar-dark-color:                 #a4c9e5;
$navbar-light-color:                #a4c9e5;
$navbar-nav-link-padding-x:         1rem ;
