<!doctype html>
<html lang="{{ .Lang }}">
  <head>
    {{ partial "head-meta" . }}

<!--    <link rel="canonical" href="{{ .Permalink }}">-->

<!--
    <title>
      {{ block "title" . }}
        {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
      {{ end }}
    </title>
-->

    <!-- Bootstrap CSS -->
    {{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "expanded") }}
    {{ $style := resources.Get "sass/main.scss" | toCSS  $options  }}  <!--| minify-->
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">

<!--    {{ range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
    {{ end -}}-->

    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />


    {{ partial "head-custom.html" . }}

  </head>
  <body>
    {{ block "header" . }}
      {{ partial "header" . }}
    {{ end }}


    <div id="content">
      {{- block "main" . }}{{- end }}
    </div>


    {{ block "footer" . }}
      {{ partial "footer" . }}
    {{ end }}
  </body>
</html>
