
<footer class="text-center text-lg-start text-white" style="background-color: #3e4551">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">FOOTER CONTENT</h5>
                    <p>
                        Der Kinderdorf Schneckenmühle e.V. ist ein anerkannter freier Träger der Jugendhilfe
                        (Landkreis Sächsische Schweiz Osterzgebirge) und beim Amtsgericht Berlin-Charlottenburg
                        unter der Vereinsregisternummer 11748 eingetragen. </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="text-white" href="#!">Impressum</a>
                        </li>
                        <li>
                            <a class="text-white" href="#!">Datenschutz</a>
                        </li>
                        <li>
                            <a class="text-white" href="#!">Über Uns</a>
                        </li>
                        <li>
                            <a class="text-white" href="#!">Bankverbindung</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="text-white" href="#!">Ferienorte</a>
                        </li>
                        <li>
                            <a class="text-white" href="#!">Newsletter</a>
                        </li>
                        <li>
                            <a class="text-white" href="#!">Formulare</a>
                        </li>
                        <li>
                            <a class="text-white" href="#!">Prospekte</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="text-white" href="#!">Reisejournale</a>
                        </li>
                        <li>
                            <a class="text-white" href="#!">Sidemap</a>
                        </li>
                        <li>
                            <a class="text-white" href="#!">Kontakt</a>
                        </li>
                        <li>
                            <a class="text-white" href="#!">Downloads</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="text-white" href="#!">AGB</a>
                        </li>
                        <li>
                            <a class="text-white" href="#!">Häufige Fragen</a>
                        </li>
                        <li>
                            <a class="text-white" href="#!">Home</a>
                        </li>
                        <li>
                            <a class="text-white" href="#!">Spenden</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->


        <hr class="mb-4"/>

        <!-- Section: Social media -->
        <section class="mb-4 text-center">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2021 Copyright:
        <a class="text-white" href="#!">Kinderdorf Schneckenmühle e.V.</a>
    </div>
    <!-- Copyright -->
    {{ $bootstrap := resources.Get "js/bootstrap.bundle.min.js" }}
    {{ $js := slice $bootstrap | resources.Concat "js/bundle.js" | resources.Minify }}

    <script defer src="{{$js.RelPermalink}}"></script>
</footer><!-- Footer -->


<!--
<footer class="footer fixed-bottom bg-dark">

    <div class="row footer-text">
        <div class="col-12 col-md text-center text-md-left nav-link text-white">© Kinderdorf Schneckenmuehle e.V. - 2020
            All rights reserved.
        </div>
    </div>

    &lt;!&ndash; JavaScript and dependencies &ndash;&gt;

    {{ $bootstrap := resources.Get "js/bootstrap.bundle.min.js" }}
    {{ $js := slice $bootstrap | resources.Concat "js/bundle.js" | resources.Minify }}

    <script src="{{$js.RelPermalink}}" defer></script>
</footer>-->
